APP_PORT=8000
SECRET_KEY=
DEBUG=TRUE

POSTGRES_PASSWORD=
POSTGRES_DB=ex1
POSTGRES_PORT=5432

POSTGRES_USER=myuser
POSTGRES_HOST=db

RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_QUEUE=product
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_PREFETCH_COUNT=1

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=product
KAFKA_CONSUMER_GROUP_ID=product_group